<div id="starterStyle">
  <div class="container">

    <h1 id="firstContent">URL Shortener</h1>
    <p class="text-center">Wellcome to one of the best URL Shortener in the world!</p>

    <form class="text-center" role="form" ng-submit="shortURL()">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="url" placeholder="Enter a URL"
               ng-click="hideError();hideSuccess();hideImage();hideVcard();hideSafe()" required/>
      </div>
      <button type="submit" class="btn btn-default theme-accent">Short me!</button>
    </form>

    <div ng-if="regionAvaiable == 'false'" class="alert alert-danger feedbackMessages">
      <strong>X</strong> YOUR REGION IS FORBIDDEN FROM USING THIS SERVICE
    </div>

    <!-- this div will show only when the save operation has been a success -->
    <div ng-if="success" class="alert alert-success feedbackMessages">
      <strong>&#10004</strong> <a target='_blank' ng-href="{{successMsg}}">{{successMsg}}</a>
    </div>

    <!-- this div will show only when the url asked is unsafe -->
    <div ng-if="!safe" class="alert unsafePage feedbackMessages">
      <strong>&#10008</strong> <a target='_blank' href="#/unsafePage">View information of insecurity</a>
    </div>

    <!-- this div will show only when an error occurs -->
    <div ng-if="error" class="alert alert-danger feedbackMessages">
      <strong>&#10008</strong> {{errorMsg}}
    </div>

    <div ng-if="success" class="text-center">
      <button class="btn btn-default theme-accent" ng-click="showVcard()">Create your QR code or Vcard</button>
    </div>

    <form role="form" ng-if="wantVcard" id="vCardForm" ng-submit="vCardForm()">
      <h2 class="text-center">Here you can fill all the information about yourself that you want to be included in
        the generated QR code. Note that no one of the extra fields is mandatory.</h2>

      <div class="row">
        <div class="col-md-8">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="url">URL:</label>
              <input type="url" class="form-control" id="url" value="{{successMsg}}" disabled>
            </div>
            <div class="form-group">
              <label for="firstName">First name:</label>
              <input type="text" class="form-control" id="firstName" ng-model="$parent.qrFName">
            </div>
            <div class="form-group">
              <label for="lastName">Last name:</label>
              <input type="text" class="form-control" id="lastName" ng-model="$parent.qrLName">
            </div>
            <div class="form-group">
              <label for="email">E-mail:</label>
              <input type="email" class="form-control" id="email" ng-model="$parent.qrEmail">
            </div>
            <div class="form-group">
              <label for="phone">Phone:</label>
              <input type="tel" class="form-control" id="phone" ng-model="$parent.qrPhone">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="company">Company/Organisation:</label>
              <input type="text" class="form-control" id="company" ng-model="$parent.qrCompany">
            </div>
            <div class="form-group">
              <label for="street">Street:</label>
              <input type="text" class="form-control" id="street" ng-model="$parent.qrStreet">
            </div>
            <div class="form-group">
              <label for="zipCode">Zip code:</label>
              <input type="number" min="0" class="form-control" id="zipCode" ng-model="$parent.qrZip">
            </div>
            <div class="form-group">
              <label for="city">City:</label>
              <input type="text" class="form-control" id="city" ng-model="$parent.qrCity">
            </div>
            <div class="form-group">
              <label for="country">Country:</label>
              <input type="text" class="form-control" id="country" ng-model="$parent.qrCountry">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="correctionLevel">Correction level:</label>
            <select class="form-control" id="correctionLevel" ng-model="$parent.qrLevel">
              <option>L</option>
              <option>M</option>
              <option>Q</option>
              <option>H</option>
            </select>
          </div>
          <img class="img-responsive col-xs-offset-2 col-xs-8" ng-src="{{$parent.qr}}" id="qrCodeImg"/>
          <div id="downloadButton" ng-if="avaiableQR">
            <button type="submit" class="btn btn-default theme-accent"
                    ng-click="$parent.$parent.generateQRandVcard=false">Download
            </button>
            <a href="{{qr}}" onclick="prepHref(this)" download></a>
          </div>
        </div>
      </div>
      <div id="generateVCardButton" class="text-center">
        <button type="submit" class="btn btn-default theme-accent" ng-click="$parent.generateQRandVcard=true">
          Generate!
        </button>
      </div>
    </form>
  </div>
</div>
