<div id="unsafePageStyle">
  <div class="container">
    <h1 id="firstContent">Information of the unsafe page</h1>

    <!-- this div will show only when the save operation has been a success -->
    <div ng-if="success" class="alert alert-success feedbackMessages">
      <strong>&#10004</strong> <a target='_blank' ng-href="{{successMsg}}">{{successMsg}}</a>
    </div>

    <!-- this div will show only when an error occurs -->
    <div ng-if="error" class="alert alert-danger feedbackMessages">
      <strong>&#10008</strong> {{errorMsg}}
    </div>


      <strong>Information of the malicious software: </strong>
    <li ng-repeat="element in information.listThreatTypes">
      {{element}}
    </li>
      <br>
      <strong>Information of the affected platforms: </strong>
    <li ng-repeat="element in information.listPlatforms">
      {{element}}
    </li>
    <br>
    <a target='_blank' ng-href="{{information.url}}">See the asked page</a>
  </div>
</div>
