
<div class="container-full">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>URL Shortener</h1>
      <p class="lead">A front-end example page for the project</p>
      <br>
      <form class="col-lg-12" role="form" ng-submit="shortURL()">
        <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
          <input type="text" class="center-block form-control input-lg"ng-model="url"
                 title="Enter a URL" placeholder="Enter a URL" ng-click="hideError();hideSuccess()" />
          <span class="input-group-btn"><button
            class="btn btn-lg btn-primary" type="submit">Short me!</button></span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="col-sm-offset-4 col-sm-4 text-center">
        <br />
        <!-- this div will show only when the save operation has been a success -->
        <div ng-if="success" class="alert alert-success lead">
          <strong>¡Success!</strong> <a target='_blank' ng-href="{{successMsg}}">{{successMsg}}</a>
        </div>
        <div ng-if="success">
        <span class="input-group-btn"><button
          class="btn btn-lg btn-primary" type="submit">Get QR!</button></span>
        </div>
        <!-- this div will show only when an error occurs -->
        <div ng-if="error" class="alert alert-danger lead">
          <strong>Woops!</strong> {{errorMsg}}
        </div>
      </div>
    </div>
  </div>
</div>




