/* navbar buttons */
.navbar-inverse .navbar-nav>li>a {
  color:#fff;
  cursor: pointer;
}
/* home button hover */
.navbar-brand:hover {
  background-color:#9C27B0 !important;
}
/* home button */
.navbar-inverse .navbar-brand {
  color: #fff;
}
/* navbar buttons hover */
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color:#9C27B0 !important;
}

/* collapsed button focus */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #9C27B0;
}

/* collapsed button border */
.navbar-inverse .navbar-toggle {
  border-color: #561a78
}

/* font family of the home button */
#hombeButton {
  font-family: 'Noto Serif', serif;
}
