#viewStatisticsStyle h1 {
  font-size: 200%;
  text-align: center;
}

#viewStatisticsStyle #statList {
  margin-top: 3%;
}

#viewStatisticsStyle .feedbackMessages {
  text-align: center;
  margin: 3%;
}

#viewStatisticsStyle .visibility {
  margin-top: 0.3%;
  margin-right: 3.5%;
  float: right;
}
